---
layout: default
---

<section class="hero container">
  <div class="hero-content">
    <h1>Hi, I'm <span class="accent">Harsh</span>!</h1>
    <p>Aspiring AI/ML Engineer and Safety-Concious Developer</p>
    <button class="cta-menu-toggle" aria-label="Toggle menu">Menu</button>
    <div class="cta-row" id="cta-menu">
      <a class="btn primary" href="Harsh-Desai-Resume.pdf" download>Download Resume</a>
      <a class="btn primary" href="#projects">View Projects</a>
      <a class='btn primary' href="https://github.com/Harsh-D20" aria-label="GitHub">GitHub</a>
      <a class='btn primary' href="https://www.linkedin.com/in/harsh-desai-23b5002a4/" aria-label="LinkedIn">LinkedIn</a>
    </div>
  </div>
  <div class="hero-photo">
    <img src="assets/profile-pic.jpg" alt="Harsh Desai Profile photo">
  </div>
</section>

<section id="about" class="about container">
  <h2>About Me</h2>
  <p>
    I'm an incoming Master of Engineering student at Cornell University, focusing on Artificial Intelligence and Machine Learning.
    I've graduated from the University of Maryland, College Park, with a Bachelor's degree in Computer Science, and a minor in both Statistics and Astronomy.
    I'm passionate about building projects that leverage AI/ML to solve real-world problems, and I'm particularly interested in the intersection of AI and safety.
  </p>
</section>

<section id="projects" class="projects container">
  <h2>Projects</h2>
  <div class="grid cards">
    <article class="card">
      <h3>ArXiv Semantic Search</h3>
      <p>
        A semantic search engine for ArXiv papers, built using Sentence Transformers, with searching capabilities enabled by FAISS and BM25. 
        Implemented query expansion via Groq API to enhance search results.
      </p>
      <div class="tech-stack">Python, FAISS, BM25, Streamlit, Docker</div>
      <div class="card-actions">
        <a href="https://huggingface.co/spaces/harsh-d/arxiv-semantic-search" class="btn small outline">Site</a>
        <a href="https://github.com/Harsh-D20/arxiv-recsys" class="btn small outline">GitHub</a>
      </div>
    </article>
    <article class="card">
      <h3>Virtual Assistive Robotics Module</h3>
      <p>
        Capstone for CMSC 435 -- Software Engineering at UMD. I worked in an Agile team of 5 developers to design, implement, and test a robotic 
        arm simulation to allow UMD Nueromotor Control and Learning (NMCL) lab researchers to study Sense-of-Agency (SoA). We presented at the
        2026 UMD Clark Engineering Capstone Design Expo
      </p>
      <div class="tech-stack">Unity, Gitlab, C#, Agile Methodology</div>
      <div class="card-actions">
        <a href="https://expo.umd.edu/projects/spring-2026/virtual-assistive-robotics-module" class="btn small outline">Expo Page</a>
      </div>
    </article>
    
    <article class="card">
      <h3>Kompression</h3>
      <p>
        An Image Quantizer that relies on the K-Means++ algorithm.
      </p>
      <div class="tech-stack">Python, Flask, Tailwind CSS, HTML</div>
      <div class="card-actions">
        <a href="https://github.com/Harsh-D20/kompression-site" class="btn small outline">GitHub</a>
      </div>
    </article>

    <article class="card">
      <h3>Portfolio Site</h3>
      <p>
        My personal portfolio website, hosted on GitHub Pages.
      </p>
      <div class="tech-stack">HTML/CSS/JavaScript, GitHub Pages</div>
      <div class="card-actions">
        <a href="#" class="btn small outline">Site</a>
      </div>
    </article>

  </div>
</section>

<section id="skills" class="skills container">
  <h2>Skills</h2>
  <div id="skill-list" class="skill-list" role="list" aria-label="Skills list">
    {% for skill in site.data.skills %}
      <span class="skill" role="listitem" aria-label="{{ skill }}">{{ skill }}</span>
    {% endfor %}
  </div>
</section>

<section id="experience" class="experience container">
  <h2>Experience</h2>
  <ul class="timeline">
    {% for item in site.data.experiences %}
      <li>
        <div class="timeline-header">
          <h3>{{ item.title }}</h3>
          <h4>{{ item.org }}</h4>
          <span class="timeline-date">{{ item.dateRange }}</span>
        </div>
        <p>
          {{ item.description }}
        </p>
      </li>
    {% endfor %}
  </ul>
</section>

<section id="contact" class="contact container">
  <h2>Contact</h2>
  <p>Interested in collaborating? Email me directly at <a
      href="mailto:desai.harsh.747@gmail.com">desai.harsh.747@gmail.com</a>.</p>
</section>