:root {
    --bg-color: #09183a;
    --secondary-color: #6ed0f1;
    --tertiary-color: #032955;
    --text-color: #fff;
    font-family: "Segoe UI", sans-serif;
  }
  
  * {
    color: var(--text-color);
  }
  
  html {
    /* background-color: var(--secondary-color); */
    background-image: url(../public/background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
  }
  
  body {
    /* so cards stay inside body */
    padding: 2%;
    margin: auto;
    width: 75%;
    height: fit-content;
    text-align: center;
    background-color: var(--bg-color); 
  }
  
  .name {
    text-align: center;
    height: fit-content;
  }
  
  .bio {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
  }
  
  .bio-img {
    height: 200px;
    border-radius: 500px;
    margin: auto 0;
    border: 5px solid var(--secondary-color);
  }
  
  /* TODO: make card sizes responsive */
  .card-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
  
  @media (max-width: 1040px) {
    .card-grid {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
    }
  }
  
  @media (max-width: 720px) {
    .card-grid {
      grid-template-columns: 1fr 1fr;
    }
  }
  
  @media (max-width: 560px) {
    .card-grid {
      grid-template-columns: 1fr;
    }
  }